@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.2em;

    }

    h2 {
        font-size: 1.5rem;
    }

    header,
    footer,
    footer a {
        border-radius: 10px;
    }

    header img {

        box-shadow: 0 0 30px rgb(8, 132, 141);
        float: right;
        border-radius: 0 10px 0 0;
    }
}