main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1{
    background-color: rgb(16, 202, 115);
}

img {
    min-width: 150px;
    max-width: 300px;
    background-color: rgb(54, 5, 5);
}
img[data-src] {
    filter: blur(3px);
    
}

img {
    margin-top: 20px;
    filter: blur(0px);
    transition: filter 0.5s;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: aqua;
}
