@media only screen and (min-width: 1200px) {
    nav a {
        font-size: 1.5rem;
    }

    main {
        grid-template-columns: 1fr;
    }

    header img {
        width: 100px;
        padding: 1em;

    }

    .weathersummary {
        position: absolute;
        top: 12px;
        left: 50px;
        background-color: rgba(28, 171, 223, 0.5);
        padding: .5rem;
        border: 15px;
        border-radius: 15px;

    }

    .weathersummary:hover {
        color: green;

    }

    .contentbox {
        display: grid;
        margin: 10px auto;
        padding: 15px;
        color: rgb(87, 87, 87);
        background-color: #a69cac;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
        line-height: 1em;
        justify-content: center;
    }

    .contentbox-article {
        display: grid;
        margin: 10px auto;
        padding: 15px;
        color: rgb(0, 0, 0);
        background-color: #a69cac;
        align-items: center;
        box-sizing: border-box;
        line-height: 1em;
        justify-content: center;
    }

    .article {
        display: flex;

    }

    .article img {
        float: right;
    }

    .footersection {
        display: flex;
        margin: 10px auto;
        padding: 15px;
        color: rgb(87, 87, 87);
        background-color: #a69cac;
        box-sizing: border-box;
        line-height: 1em;
        margin: 0;
        justify-content: left;
    }


    h1 {
        font-family: 'Passion One', cursive;
        color: black;


    }

    h2 {

        font-family: 'Poppins', sans-serif;
        color: #3f2964;
        padding: 1rem;
        text-align: center;
    }

    h3 {

        color: rgb(0, 0, 0);
        text-align: left;
        padding: .5rem;
    }



}