@media only screen and (min-width: 1200px) {
    nav a {
        font-size: 1.5rem;
    }

    main {
        grid-template-columns: 1fr;
    }

    header img {
        width: 100px;
        padding: 1em;

    }




    .map {
        display: flex;
        margin: 10px auto;
        padding: 15px;
        color: rgb(87, 87, 87);
        background-color: #a69cac;
        box-sizing: border-box;
        line-height: 1em;
        margin: 0;
        justify-content: left;
    }


    h1 {
        font-family: 'Passion One', cursive;
        color: black;


    }

    h2 {

        font-family: 'Poppins', sans-serif;
        color: #3f2964;
        padding: 1rem;
        text-align: center;
    }

    h3 {

        color: rgb(0, 0, 0);
        text-align: left;
        padding: .5rem;
    }




    .stats:hover{
        color: #3f2964;
    }

    /*--------------------gallery----------*/

    .lastvisit{
        color: #0de42a;
        text-align: center;
    }

    section.weatherImg {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .weatherImg img {
        min-width: 150px;
        max-width: 300px;
        background-color: grey;
    }

    .weatherImg img[data-src] {
        filter: blur(3px);
    }

    .weatherImg img {
        margin-top: 20px;
        filter: blur(0px);
        transition: filter 0.5s;
    }

    figure {
        box-shadow: 5px 5px 5px 5px black;
    }

    figure.img {
        max-width: 300px;

    }

    figcaption {
        text-align: center;
    }

    figure:hover {
        box-shadow: 10px 15px grey;
    }

  /*--------------storm center-----------------------*/
  input[type="submit"] {
    color: red;
    background-color: #f5ac25;
    padding: 1rem;
    border: 1px solid #cf911e;
    margin-right: 1000px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #745111;
  }

  /*------wire*/
.wireframes{
    color:#f5ac25;
    font-size: 25px;
    background-color: #0b3f7a;
    border: none;
}

.wire{
    text-align: center;
}



.wireframes:hover{
    
    color: black;
    background-color: white;
    font-size: 30px;
    border: 5px solid red;
    transition: all 0.5s; 
}

    /*--------- Home Page ----------*/

    

    main section {
        display: block;
        margin: 0;
    }

    .towns {
        
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 5px;
    }

    main section img {
        width: 100%;
        height: auto;
        padding: 0;

    }

    .contacth3, h3{
        text-align: center;
        background-color:#a69cac;
        color: #0b7a7a;
    }
}