@media only screen and (min-width: 39.45rem) {
    header {
        max-width: 1000px;
        margin: auto;
        grid-template-columns: 270px 1fr;
    }

    img.logo {
        width: 250px;
        margin-left: 20px;
    }

    .position {
        justify-self: end;
        margin-right: 20px;
    }

    nav {
        padding-top: 40px;
    }

    nav ul li a {
        min-width: 70px;
        padding: .8rem .1rem;
    }

    nav ul { display: flex; }

    nav img.hamburger {
        display: none;
    }
    
    nav ul li a {
        border: none;
        max-width: 70px;
        padding-top: .8rem;
    }

    nav ul.hide {
        display: flex;
    }

    main {
        max-width: 1000px;
    }

    .herodiv {
        width: 96%;
        margin: 0 auto;
    }

    .herodiv img {
        width: 100%;
        overflow: hidden;
    }

    .hero-text {
        font-size: 2.5rem;
        margin: 15px 0 0 30px;
    }

    .divider {
        background-color: dimgray;
        width: 96%;
        margin: -4px auto 10px;
    }

    .ads {
        justify-content: space-evenly;
    }

    .text-box {
        width: 87%;
    }

    .contact-info {
        margin-left: 0px;
    }

    .weather {
        grid-template-columns: 1fr 2fr;
        width: 600px;
    }

    .weathersummary {
        padding-left: 30px;
    }

    .forecast {
        padding-left: 60px;
    }

    .events {
        overflow: auto;
    }

    .events p {
        display: inline-block;
    }

    .events img {
        width: 40%;
        float: right;
        margin-right: 5%;
    }

     /*------ directory -------*/

     #btnContainer {
        margin-left: 1rem;
    }
    
    .btn {
        display: inline-block;
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
    }
      
    .btn:hover {
        background-color: #ddd;
    }
      
    .btn.active {
        background-color: #666;
        color: white;
    }

    .directory-wrapper {
        max-width: 900px;
        padding: .5rem;
        text-align: center;
        margin: .5rem 1rem;
    }

    .directory-wrapper img {
        padding-top: 1.5rem;
    }

    #logo7 {
        max-height: 150px;
    }

    .column {
        float: left;
        width: 50%;
        height: 275px;
        padding: .5rem;
    }
      
    .directory-wrapper .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .form-wrapper {
        margin: 0 auto;
    }

    .thanks-wrapper {
        max-width: 600px;
        margin: 0 auto 10rem;
    }

    .contact-wrapper {
        margin: 0 20px;
        display: grid;
        grid-template-columns: repeat(2, minmax(240px, 1fr))
    }

    .contact-form {
        margin-left: 10px;
        min-width: 255px;
        grid-column: 2;
        grid-row: 1 / 4;
    }

    .board {
        grid-column: 1;
        grid-row: 3;
    }

    #main-footer {
        margin: 0 auto;
        
    }

    #map {
        margin-left: 15px;
        height: 264px;
        display: block;
        grid-column: 1;
        grid-row: 2;
      }

}