@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat+Alternates:ital,wght@1,100&family=Noto+Sans+Mono:wght@100&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --primary-color: #358600;
    --secondary-color: #cffcff;
    --accent1-color: #CB4C48;
    --accent2-color: #f8f5b6;
    --background-color: #e7e9e6;
}

body {
    margin: 0;
    font-family: Montserrat,'Source Sans Pro', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo {
    width:20px;
    border-radius: 200px;
    
   
} 

.position {
    justify-self: end;
}

nav {
    margin: auto;

}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    text-align: center;
}
nav ul li a {
	display: block;
	color: var(--primary-color);
    padding: .3rem;
	text-decoration: none;
    font-size: 1rem;
    transition: 0.5s;
}

nav ul li.current a {
    color: var(--accent1-color);
    font-weight: 900;
}

nav ul li a:hover {
	background: rgb(227, 240, 240);
    color: #000;
    font-weight: 900;
    text-decoration: none;
}

img.hamburger {
    width: 25px;
    margin: 30px 30px 0px;
    cursor: pointer;
}

nav ul.hide {
    display: none;
}

main {
    margin: auto;
}

h1{
    font-family: 'Volkhov', serif;
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 0px;
}

h3 {
    font-family: 'Volkhov', serif;
    font-size: 1.3rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    font-weight: 600;
    text-decoration: underline;
}

p {
    margin: 0;
}

.herodiv {
    position: relative;
    width: 100%;
    margin: 0;
}

.hero-text {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
}

.hero img {
    margin: 0;
}

.divider {
    background-color: dimgray;
    width: 100%;
    margin: -4px auto 10px;
}

.ads {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 40px 15px 20px;
    justify-content: center;
}

.ad-container {
    width: 300px;
    height: 200px;
    color: #fff;
    border-radius: 10px;
    margin: 10px 0;
}

.ads a:hover {
    font-weight: 400;
    text-decoration: none;
}

.jamaicabed {
    background-image: url(../images/jamaicabed.png);
    background-repeat: no-repeat;
}

.browns {
    background-image: url(../images/browns.jpg);
    background-repeat: no-repeat;
}

.lynsdeal {
    background-image: url(../images/lynsdeal.png);
    background-repeat: no-repeat;
}

.ad-container:hover {
    box-shadow: 0px 0px 5px darkslategray;
}

.ad-container p {
    margin-top: -5px;
    text-shadow: 0px 0px 6px #000;
}

.ad-container .icon {
    max-width: 20px;
    margin: 5px 3px -5px 0px;
}

.business-name {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 15px;
}

.business-info {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px;
    padding: 15px;
}

.center {
    text-align: center;
}

a.button {
    background-color: var(--primary-color);
    text-decoration: none;
    border: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2.5px;
    padding: 10px 35px;
    font-size: 1rem;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

a.button:hover {
    color: black;
    background-color: #cffcff;
    border-radius: 50% ;
    border: none;
    transition: all .3s;
    font-weight: 600;
}

.text-box {
    background-color: var(--primary-color);
    padding: 15px 20px;
    margin: 20px auto 30px;
}

.text-box p {
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4rem;
}

.text-box ul li {
    color: #fff;
}

.events {
    padding-left: 60px;
    margin-bottom: 15px;
}

.event-name {
    font-weight: 600;
    color: var(--accent1-color)
}

.events img {
    width: 85%;
    margin: 10px auto;
}

.weather {
    display: grid;
    grid-template-columns: 1fr;
    width: 320px;
    margin: 15px auto;
}

.weather h2 {
    color: #000;
    margin-top: 15px;
    font-family: 'Volkhov', serif;
}

.weathersummary {
    background-color: var(--background-color);
    padding-left: 15px;
}

.weathersummary span {
    font-weight: 800;
}

.forecast {
    background-color: var(--background-color);
    padding-left: 15px;
}

.weathertable {
    width: 100%;
    width: 290px;
    text-align: center;
    margin: 20px 0 20px 0;
    font-family: cursive, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border-collapse: collapse;
}

.weathertable th {
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px;
    border-right: .5px solid #ccc;
}
.weathertable td {
    border-right: .5px solid #fff;
    background-color: rgb(191, 207, 207);
}

.weathertable td:last-child {
    border-right: none;
}

.weathertable img {
    width: 85px;
}

.weathertable tr:nth-child(3) td {
    margin-top: -10px;
    padding-bottom: 10px;
}

#current-cond {
    text-transform: capitalize;
}


/*------------ FORM -------------*/
.form-wrapper {
    max-width: 38rem;
    min-width: 300px;
    margin: 0 10px;
}

form fieldset {
    font-family: Montserrat , sans-serif;
    margin: 20px auto;
    border: 1px solid var(--primary-color);
    background-color: #f3f5f3;
    border-radius: 10px;
    padding: .5rem;
}

legend {
    font-size: 1.2rem;
    font-family: 'Volkhov', serif;
    font-weight: 600;
    background-color: black;
    color: #fff;;
    margin: 0 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

label.above, form div {
    display: block;
    font-weight: 600;
    padding-top: 1.5rem;
    font-size: 1.05rem;
}

.textarea {
    display: block;
    padding-top: 1rem;
    font-size: 1.05rem;
    font-weight: 600;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
}

form label.above input, form label.above select {
    -webkit-appearance: none;
    display: block;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
}

.radio {
    display: block;
    padding: .15rem 0;
    color: #555;
}

.submitBtn:active {
    color: midnightblue;
    background-color: olive;
    border-bottom-left-radius: 40% ;
    font-size: 15px;
   
}

.submitBtn {
    border: none;
    font-family: Noto Sans Mono , sans-serif;
    font-weight: 600;
    background-color: #358600;
    font-size: 1.1rem;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin-bottom: 20px;
    margin-left: 10px;
    max-width: 13rem;
}





form label.above input:required {
    border-bottom: 4px solid red;
}

form label.above input:required:valid {
    border-bottom: 4px solid var(--secondary-color);
}

.levels-h2 {
    font-size: 1.3rem;
    color: black;
    margin-bottom: 5px;
    border-bottom: 4px solid var(--accent1-color);
    width: 80%;
}

.levels {
    margin-bottom: 3px;
    font-size: 1.2rem;
    color: var(--accent1-color);
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 3px solid var(--accent1-color);
    width: 60%;
}

ul {
    margin-top: 3px;
}

.small {
    font-size: .9rem;
}

.thanks-wrapper {
    max-width: 500px;
    margin: 0 1rem 10rem;
}

.thanks {
    color: black;
    font-weight: 600;
}

.thanks a {
    color: var(--accent1-color);
}

.thanks a:hover {
    text-decoration: underline;
}

.home{
    background-color: #358600;
    text-align: center;
    

}



/*------- directory------- */
.btn {
    display: none;
}

.column {
      width: 320px;
      background: var(--background-color);
      padding: .5rem;
      text-align: center;
      margin: .5rem auto;
      padding-bottom: 1rem;
}

.directory-wrapper h2 {
      color: var(--primary-color);
      margin-top: .5rem;
      margin-bottom: .5rem;
}

.directory-wrapper img {
      padding-top: 1.5rem;
      max-width: 75%;
}

.directory-wrapper p a {
      color: #777;
}

.directory-wrapper a:hover {
    color: #000;
    font-weight: 400;
    text-decoration: underline;
}


/*--------contact--------*/
.contact-wrapper {
    margin: 0 15px;
}

.contact-info {
    margin-bottom: 1.5rem;
}

.contact-info h2 {
    color: black;
    font-family:cursive, sans-serif;
    font-size: 1.4rem;
    margin-bottom: -5px;
}

.board {
    margin-bottom: 1.5rem;
}

.board h2 {
    color: black;
    font-family: cursive , serif;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 5px;
}

.contact-form {
    min-width: 260px;
    max-width: 350px;
}

#map {
    width: 264px;
    border: 2px solid var(--secondary-color);
}

form input.submit-button {
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #358600;
    color: white;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 15px auto 10px 0;
    max-width: 13rem;
}


/*--------footer------- */
footer {
    background-color: #9ee37d;
    color: black;
}

#main-footer {
    padding: 20px;
    max-width: 320px;
    margin: 0 auto;
}

.bold {
    font-family: 'Volkhov', serif;
    font-size: 1.3rem;
    font-weight: 800;
}

.icon {
    max-width: 25px;
    margin: 5px 3px -7px 0px;
}

.social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0px;
}

.social img{
    width: 35px;
    height: 35px;
    display: inline-block;
}

.social a:nth-child(2) {
    justify-self: center;
    display: inline-block;
}

.social a:last-child {
    justify-self: end;
    display: inline-block;
}

.info-links {
    margin-top: 10px;
    text-align: center;
    color: #000;
}
